$project-bg-color: #f6f5f8;

#project-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 2;

  #project-close-button {
    font-family: Raleway;
    position: absolute;
    top: 7vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 0.8em;
    color: #000;
    user-select: none;
    cursor: pointer;
    border: 2px dotted #000;
    padding: 5px 10px;
    transition: transform 500ms;

    &.visible {
      transform: translateX(-50%) translateY(-50%) scale(1);
    }

    &:hover {
      background-color: #000;
      border-style: solid;
      color: white;
    }
  }

  #project-content {
    display: none;
    width: 100%;
    height: 100%;
    background-color: $project-bg-color;

    #project-border {
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      box-sizing: border-box;
      border-style: solid;
      border-color: white;
      border-width: 0;
      transition: border-width 400ms;

      &.visible {
        border-width: 20px;
      }
    }

    box-sizing: border-box;
    text-align: center;
    padding-top: 15vh;

    #project-count {
      font-family: "Old Standard TT", serif;
      color: #444;
      margin-bottom: -4px;
      letter-spacing: -1px;
    }

    #project-count-separator {
      width: 60px;
      border: 0;
      background-color: #e1e1e1;
      height: 1px;
    }

    #project-count-label {
      font-family: Raleway;
      color: #ccc;
      text-align: center;
      padding-top: 0px;
      font-weight: 400;
      font-size: 0.6em;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    #project-title {
      font-family: "Old Standard TT", serif;
      font-family: Raleway;
      color: #333;
      text-align: center;
      padding-top: 30px;
      font-weight: 700;
      font-size: 4em;
      letter-spacing: 6px;
      text-transform: capitalize;
      text-shadow: 0px 2px 8px #ccc;
    }
    #project-subtitle {
      font-family: Raleway;
      color: #ccc;
      text-align: center;
      padding-top: 20px;
      font-weight: 400;
      font-size: 0.75em;
      letter-spacing: 3px;
      text-transform: lowercase;
    }

    #project-specs {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      list-style-type: none;
      text-align: left;
      font-family: Raleway;
      font-weight: 700;
    }

    #project-description {
      font-family: Raleway;
      position: relative;
      margin-top: 150px;
      line-height: 1.7;
      text-align: justify;
      padding-left: 10%;
      padding-right: 10%;
      font-weight: 100;
      color: #888;
      font-size: 0.9em;
      letter-spacing: 1px;

      &::before {
        content: "";
        position: absolute;
        top: -30px;
        left: calc(10% - 1.5em);
        width: 70px;
        height: 5px;
        background-color: #e1e1e1;
      }
      &::first-letter {
        font-size: 5.5em;
        margin-right: 10px;
        color: #333;
        line-height: 0.7;
        font-weight: 700;
        float: left;
        margin-top: 7px;
        margin-bottom: -10px;
        // margin-top: 0.15em;
      }
    }
  }

  #slice-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    .slice {
      position: absolute;
      bottom: 0;
      background-color: $project-bg-color;
      transition: box-shadow 400ms;

      &.with-shadow {
        box-shadow: 13px 1px 30px -14px rgba(0, 0, 0, 0.09);
      }
    }
  }
}
