$project-bg-color: #f6f5f8;

#project-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  // background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 2;

  #project-close-button {
    position: absolute;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    padding: 0;
    left: -50px;
    top: 50px;
    cursor: pointer;
    z-index: 2;

    &.visible {
      left: 50px;
    }

    &:hover {
      // background-color: #000;
      // border-style: solid;
      // color: white;
    }

    img {
      width: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.5;
      transform: translate(-50%, -50%);
    }
  }

  #project-border {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
    border-width: 0;
    transition: border-width 400ms;
    z-index: 10;

    &.visible {
      border-width: 20px;
    }
  }

  #project-content {
    display: none;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    padding-top: 25vh;
    transition: padding 700ms;
    transition-timing-function: ease-in-out;

    &.demo {
      padding-top: 70px;
    }

    .animatable {
      position: relative;
      transition: all 700ms;
      opacity: 0;

      &.visible {
        opacity: 1;
      }
    }

    #project-count {
      font-family: "Old Standard TT", serif;
      color: #444;
      margin-bottom: -4px;
      letter-spacing: -1px;
      top: -50px;
      transition-delay: 0ms;

      &.visible {
        top: 0;
      }
    }

    #project-count-separator {
      border: 0;
      background-color: #e1e1e1;
      height: 1px;
      width: 0;
      transition-delay: 300ms;

      &.visible {
        width: 60px;
      }
    }

    #project-count-label {
      font-family: Raleway;
      color: #ccc;
      text-align: center;
      padding-top: 0px;
      font-weight: 400;
      font-size: 0.6em;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 50px;
      transition-delay: 0ms;

      &.visible {
        top: 0;
      }
    }

    #project-title {
      font-family: "Old Standard TT", serif;
      font-family: Raleway;
      color: #fff;
      text-align: center;
      padding-top: 30px;
      font-weight: 700;
      font-size: 4em;
      letter-spacing: 6px;
      text-transform: capitalize;
      // text-shadow: 0px 3px 10px #bbb;
      text-shadow: 0px 3px 10px #d1d1d1;
    }

    #project-subtitle {
      font-family: Raleway;
      color: #ccc;
      text-align: center;
      padding-top: 20px;
      font-weight: 400;
      font-size: 0.75em;
      letter-spacing: 3px;
      text-transform: lowercase;
      transform: translate(-50%, -50%) scale(0);
      left: 50%;
      transition-delay: 100ms;

      &.visible {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    #project-specs {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      list-style-type: none;
      text-align: left;
      font-family: Raleway;
      font-weight: 700;
      position: relative;
      display: flex;
      margin-top: 80px;
      padding-left: 0;

      li {
        display: inline-block;
        width: 25%;

        text-alig: center;

        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }

        .project-spec-label {
          display: block;
          font-size: 0.8em;
          font-family: Averta;
          font-weight: 400;
          letter-spacing: 1px;
          color: #999;
        }
        .project-spec-values {
          .project-spec-values-inside {
            display: block;
            font-size: 1.4em;
            font-family: Averta;
            font-weight: 100;
            color: #444;
            letter-spacing: 3px;
            text-shadow: 0px 2px 3px #d1d1d1;
          }
        }
      }
    }

    #project-description {
      font-family: Raleway;
      position: relative;
      margin-top: 50px;
      line-height: 1.7;
      text-align: justify;
      padding-left: 10%;
      padding-right: 10%;
      font-weight: 100;
      color: #888;
      font-size: 0.9em;
      letter-spacing: 1px;
      top: 50px;
      transition-delay: 150ms;

      &.visible {
        top: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: -30px;
        left: calc(10% - 1.5em);
        width: 70px;
        height: 5px;
        background-color: #e1e1e1;
      }
      &::first-letter {
        font-size: 5.5em;
        margin-right: 10px;
        color: #333;
        line-height: 0.7;
        font-weight: 700;
        float: left;
        margin-top: 7px;
        margin-bottom: -10px;
        // margin-top: 0.15em;
      }
    }
  }

  #slice-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .slice {
      position: absolute;
      bottom: 0;
      background-color: $project-bg-color;
      height: 0;
      transition: box-shadow 400ms;
      //, height 700ms;
      // transition-timing-function: ease-in-out;

      // &.visible {
      //   height: 100%;
      // }

      &.with-shadow {
        box-shadow: 13px 1px 30px -14px rgba(0, 0, 0, 0.09);
      }
    }
  }

  button#project-explore {
    position: relative;
    background-color: #333;
    display: block;
    border: 0px solid #ddd;
    border-radius: 500px;
    font-family: Helvetica;
    font-size: 0.8em;
    font-weight: 600;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    cursor: pointer;
  }

  #project-mockup {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 39px;
    top: calc(100% - 59px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: top 700ms;
    transition-timing-function: ease-in-out;
    height: auto;

    &.demo {
      top: 500px;
    }

    &.relative {
      position: relative;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      transform: none;
      margin-bottom: 50px;
    }

    #browser-top-bar {
      text-align: left;
      width: 100%;
      position: relative;
      background-color: #292c30;
      padding: 10px;
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;
      box-sizing: border-box;

      .browser-button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 10px;
        display: inline-block;
        position: relative;
        top: 2px;
        left: 2px;

        &#browser-close {
          background-color: #ff6158;
        }

        &#browser-minimize {
          background-color: #ffbd2e;
        }

        &#browser-expand {
          background-color: #27c940;
        }
      }

      #browser-search-icon {
        position: absolute;
        z-index: 1;
        left: 110px;
        height: 15px;
        top: 12px;
      }

      #browser-search-bar {
        background-color: #3e464e;
        border-radius: 50px;
        width: calc(100% - 140px);
        height: 26px;
        display: block;
        position: absolute;
        top: 6px;
        left: 100px;
      }

      #browser-options-button {
        position: absolute;
        right: 20px;
        top: 11px;

        .browser-dot {
          display: block;
          width: 3px;
          height: 3px;
          background-color: #e1e1e1;
          margin-bottom: 4px;
        }
      }
    }

    #project-mockup-image {
      display: block;
      width: 100%;
      border-top: 0;
      box-sizing: border-box;
      border: 5px solid #292c30;
    }
  }
}
