/* Coolors Exported Palette - coolors.co/c43865-31ceb7-ff5e59-467bf4-78f455 */

/* HSL */
$color1: hsla(341%, 56%, 49%, 1);
$color2: hsla(171%, 62%, 50%, 1);
$color3: hsla(2%, 100%, 67%, 1);
$color4: hsla(222%, 89%, 62%, 1);
$color5: hsla(107%, 88%, 65%, 1);

/* RGB */
$color1: rgba(196, 56, 101, 1);
$color2: rgba(49, 206, 183, 1);
$color3: rgba(255, 94, 89, 1);
$color4: rgba(70, 123, 244, 1);
$color5: rgba(120, 244, 85, 1);